<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        * {
            font-size: 16px;
            line-height: 2;
        }

        .card {
            width: 100%;
            height: 100%;
        }
    </style>
    <title>Dashboard</title>
</head>

<body>
<table style="width:100%; table-layout: fixed">
    <tr>
        {{- /*gotype: github.com/ottojo/gitlabDash.IssuePage*/ -}}
        {{range .Issues}}
            <td style="vertical-align: top">
                <div style="padding: 10px ">
                    <div class="card {{if .IsOverdue}}text-white bg-danger{{end}}">
                        <h5 class="card-header">Issue</h5>
                        <div class="card-body">
                            <h5 class="card-title">{{.Title}}</h5>
                            <div class="card-text">{{.GetDescriptionHTML}}</div>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item {{if .IsOverdue}}text-white bg-danger{{end}}">
                                Author: {{.Author.Name}}</li>
                            {{if .Assignee}}
                                <li class="list-group-item {{if .IsOverdue}}text-white bg-danger{{end}}">
                                    Assignee: {{.Assignee.Name}}</li>
                            {{end}}
                            {{if .Labels}}
                                <li class="list-group-item {{if .IsOverdue}}text-white bg-danger{{end}}">
                                    {{range .Labels}}
                                        <span class="badge badge-pill badge-primary">{{.}}</span>
                                    {{end}}
                                </li>
                            {{end}}
                        </ul>
                        {{ if .DueDate}}
                            <div class="card-footer {{if .IsOverdue}}text-white bg-danger{{end}}">
                                {{.DueDate}}
                            </div>
                        {{end}}
                    </div>
                </div>
            </td>
        {{end}}
    </tr>
</table>
</body>
</html>
